# {{ schema.name }}: a data model for Translator Test Assets, Cases, and Suites.


## Classes

| Class | Description |
{% for c in schemaview.all_classes(ordered_by="lexical").values()|sort(attribute='name') -%}
| --- | --- |
| {{gen.link(c)}} | {{c.description}} |
{% endfor %}


## Slots

| Property | Description |
{% for np in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
| --- | --- |
| {{gen.link(np)}} | {{np.description}} |
{% endfor %}
